body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, san-serif;
}

.page-pad {
  padding: 0 10vw;
}

.header,
.footer {
  display: flex;
  align-items: center;
}

.header {
  justify-content: space-between;
}

/* .header-logo, .header-links { */
/*   padding: 0px 48px; */
/* } */

.header-logo {
  font-size: 24px;
}

.header-logo, .hero-header {
  color: #f9faf8;
}

.header-links {
  display: flex;
  gap: 10px;
  font-size: 18px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.hero, .info, .testimonial, .call {
  flex-grow: 1;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 5vw;
  padding-bottom: 10vh;
}

.hero-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-box, .hero-image {
  flex: auto;
  width: 33vw;
}

.hero-text {
  font-size: 18px;
  margin: 0;
}

.hero-header {
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

.hero-button, .call-box {
  background-color: #3882f6;
}

.hero-button {
  padding: .5em 1.5em;
  border-radius: 5px;
}

.hero-button a {
  color: #f9faf8;
  font-weight: 600;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.info h3 {
  text-align: center;
}

.info-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.block img {
  height: 20vh;
  width: 20vh;
  border: .3em solid #3882f6;
  border-radius: 10%;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 0 20%;
}

.test-quote {
  font-size: 36px;
  font-style: italic;
}

.test-author {
  font-size: 24px;
  font-weight: bold;
  align-self: flex-end;
}

.call {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  justify-content: center;
  height: 50px;
}

.header,
.hero,
.footer {
  background-color: #1f2937;
  color: #e5e7eb;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

ul {
  list-style-type: none;
}
