body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, san-serif;
}

.page-pad {
  padding: 0 10vw;
}

.header,
.footer {
  display: flex;
  align-items: center;
}

.header {
  justify-content: space-between;
}

/* .header-logo, .header-links { */
/*   padding: 0px 48px; */
/* } */

.header-logo {
  color: #f9faf8;
  font-size: 24px;
}

.header-links {
  display: flex;
  gap: 10px;
  font-size: 18px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.hero, .info, .testimonial, .call {
  flex-grow: 1;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-bottom: 48px; */
}

.hero-image {
  width: 300px;
  height: auto;
}

.hero-box {
  max-width: 30%;
}

/* .hero-image, .hero-box { */
/*   flex: auto; */
/* } */

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.info-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 0 20%;
}

.test-quote {
  font-size: 36px;
  font-style: italic;
}

.test-author {
  font-size: 24px;
  font-weight: bold;
  align-self: flex-end;
}

.call {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  justify-content: center;
  height: 50px;
}

.header,
.hero,
.footer {
  background-color: #1f2937;
  color: #e5e7eb;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

ul {
  list-style-type: none;
}
